// Place all the styles related to the Parks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {box-sizing: border-box;}

body {
	color: blue;
	font-family: "Georgia", serif;
	background: #F0F8FF;
}

.space {
  background: url('https://static.pexels.com/photos/340901/pexels-photo-340901.jpeg');
  background-size: cover;
  height: 500px;
  width: 100%;
}

.container {
  margin: 0 auto 0;
  width: 960px;
}

.header {
	color: white;
	font-size: 26px;
	position: fixed;
  	text-align: center;
  	width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: 200px 200 px 200px;
  grid-template-rows: 200px 200px 200px;
  grid-gap: 40px;
}

